registry "https://registry.npm.taobao.org"

sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
phantomjs_cdnurl "http://cnpmjs.org/downloads"
puppeteer_download_host "https://npm.taobao.org/mirrors"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
electron_builder_binaries_mirror "http://npm.taobao.org/mirrors/electron-builder-binaries/"
sqlite3_binary_host_mirror "https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror "https://npm.taobao.org/mirrors/node-inspector/"
chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedriver"
geckodriver_cdnurl "https://npm.taobao.org/mirrors/geckodriver/"
operadriver_cdnurl "http://npm.taobao.org/mirrors/operadriver"
npm_config_profiler_binary_host_mirror "http://npm.taobao.org/mirrors/node-inspector/"
nvm_nodejs_org_mirror "http://npm.taobao.org/mirrors/node"
nvm_iojs_org_mirror "http://npm.taobao.org/mirrors/iojs"